body {
    background-color:#2e2828;
    background-image: linear-gradient(90deg, #3a3434, #2e2828 25%, #2e2828 75%, #3a3434);
    margin: 0;
    padding: 0;
    max-width: 100%;
}

video {
    width: 70%;
    height: auto;
}

.headerDiv {
    position:sticky;
    top: 0;
    width: 100%;
    background-color: rgb(129, 80, 88);
    align-items: center;
}

.bannerDivWrapper {
    position: relative;
    overflow: hidden;
}

.bannerDiv {
    background-color: #493434;
    background-position: center;
    background-size: cover;
    background-image: url("resources//banner/banner.png");
    width: 250%;
    height: 21vw;
    white-space: nowrap;
    animation: bannermove 20s linear infinite;
}

.bannerImage {
    float: left;
    width: 13.5%;
    height: 100%;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-40.5%, 0);
    }
}

.subBannerDiv {
    width: 100%;
    height: 0px;
    background-color: #8a4141;
}

.subBannerFadeDiv {
    position: relative;
    top: -215px;
    mask: linear-gradient(to bottom,
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
    100%);
    background-color: #8a4141;
    width: 100%;
    height: 215px;
}

.logo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #d36868;
    border-bottom-color: #5c2828;
}

.logoDiv {
    position: relative;
    top: -380px;
    background-color: #8a414100;
    width: 80%;
    height: 150px;
    margin: 0 auto;
}

.linkTableDiv {
    position: sticky;
    top: 25%;
    left: 0%;
    width: 25%;
}

.linkTableItem {
    position: relative;
    left: -50px;
    list-style-type: none;
    background-image: linear-gradient(90deg, #502121, #974949);
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0.5vw;
}

.linkTableDiv .linkTableItem:hover {
    background-image: linear-gradient(90deg, #3d1818, #753535);
}

.linkTableDiv .linkTableItem:active {
    background-image: linear-gradient(90deg, #2c0f0f, #5c2828);
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(#ffffff, #8a8a8a);
    -webkit-background-clip: text;
    background-clip: text;
}

.button {
    background-color:#ffefe2;
    background-image: linear-gradient(#ffefe2, #8a827b);
    border: none;
    color:rgb(49, 30, 30);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: large;
}

.button1 {
    float: left;
    width: 33.3333%;
}

.button1:hover {
    float: left;
    background-color:#b29784;
    background-image: linear-gradient(#b29784, #5f4f44);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2 {
    width: 33.3333%;
    height: 50px;
}

.button2:hover {
    background-color:#b29784;
    background-image: linear-gradient(#b29784, #5f4f44);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 50px;
}

.button3 {
    width: 33.3333%;
    height: 50px;
}

.button3:hover {
    background-color:#b29784;
    background-image: linear-gradient(#b29784, #5f4f44);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 50px;
}

.button2:active {
    background-color:#917a6a;
    background-image: linear-gradient(#8d7869, #463a32);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 50px;
}

.disabled {
    float: left;
    width: 33.3333%;
    opacity: 0.6;
}

.portfolioSectionDiv {
    background-color: #8a4141;
    background-image: linear-gradient(#974949, #502121);
    margin: auto;
    width: 80%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
}

.portfolioItemDiv {
    margin: auto;
    width: 70%;
    text-align: center;
    align-items: center;
    font: bold;
}

h1 {
    font-size: 96px;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background-image: linear-gradient(#ffffff, #8a8a8a);
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 0px;
    margin-bottom: 0px;
    font-style: italic;
}

h2 {
    font-size: 48px;
    color: transparent;
    background-image: linear-gradient(lightgray, rgb(143, 143, 143));
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0px;
}

h3 {
    font-size: 32px;
    color: transparent;
    background-image: linear-gradient(lightgray, rgb(143, 143, 143));
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0px;
}

p {
    color: transparent;
    background-image: linear-gradient(#ffffff, #8a8a8a);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 24px;
}

.portfolioItemImage {
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 50%;
}

.portfolioItemImage:hover {
    opacity: 0.7;
    cursor: pointer ;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }

    .portfolioItemImage {
        width: 100%;
    }

    .button3 {
        display: none;
    }

    .bannerDiv {
        height: 27vw;
    }

    .logoDiv {
        top: -335px;
    }

    .logo {
        width: 96px;
        height: 96px;
    }

    video {
        width: 100%;
    }

    h1 {
        font-size: 74px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

.dividerDiv {
    margin: auto;
    width: 50%;
    border-radius: 100%;
    height: 4px;
    background-color: #ffffff;
    background-image: linear-gradient(#ffefe2, #8a827b);
    margin-top: 40px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}